{% load static %}
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="{{ banner_content.banner_image1.url }}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>{{ banner_content.banner_subtitle1 }}</h6>
                            <h2>{{ banner_content.banner_title1 }}</h2>
                            <p>{{ banner_content.banner_desc1 }}</p>
                            <a href="{% url 'list_product' %}" class="primary-btn">Shop now</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="{{ banner_content.banner_image2.url }}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>{{ banner_content.banner_subtitle2 }}</h6>
                            <h2>{{ banner_content.banner_title2 }}</h2>
                            <p>{{ banner_content.banner_desc2 }}</p>
                            <a href="{% url 'list_product' %}" class="primary-btn">Shop now</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>