{% load static %}
{% load chunks %}
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll" tabindex="1"
                                                style="overflow-y: hidden; outline: none;">
                                                <li><a href="#">All Products ({{ product_count }})</a></li>
                                                <li><a href="#">Shirts (20)</a></li>
                                                <li><a href="#">Jackets (20)</a></li>
                                                <li><a href="#">T-Shirts (20)</a></li>
                                                <li><a href="#">Hoodies (20)</a></li>
                                                <li><a href="#">Jeans (20)</a></li>
                                                <li><a href="#">Pants (20)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing 1 to {{ products.paginator.per_page }} of {{ product_count }} products.</p>
                            </div>
                        </div>
                    </div>
                </div>

                {% for product_chunks in products|chunks:3 %}
                <div class="row">
                    {% for product in product_chunks %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <a href="{% url 'product_details' product.id %}">
                                <div class="product__item__pic set-bg" data-setbg="{{product.image1.url}}">
                                    <ul class="product__hover">
                                        <li><img src="{% static 'img/icon/cart.png' %}" alt=""></li>
                                    </ul>
                                </div>

                                <div class="product__item__text">
                                    <h5>{{ product.title }}</h5>
                                    <h5>₹ {{product.price}} <span style="color: rgb(189, 173, 173);"><s>₹
                                                {{product.mrp_price}}</s></span></h5>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            {% if products.has_previous %}
                            <a class="active" href="?page={{products.previous_page_number}}"><span><</span></a>
                            {% endif %}
                            {% for i in products.paginator.page_range %}
                            <a class="active" href="?page={{i}}">{{i}}</a>
                            {% endfor %}
                            {% if products.has_next %}
                            <a class="active" href="?page={{products.next_page_number}}"><span>></span></a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>