{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5" style="max-width: 700px;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid mb-3">

            <div class="blog__details__comment">
                <h4 class="mt-4">CREATE A NEW ACCOUNT</h4>


                <form action="{% url 'user_signup' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-lg-12 text-center">
                        <input type="text" placeholder="Enter Full Name" name="fullname">
                        <input type="email" placeholder="Enter Email Address" name="email">
                        <input type="number" placeholder="Enter Phone Number" name="phone">
                        <input type="password" placeholder="Enter Password" name="pass1">
                        <input type="password" placeholder="Confirm Password" name="pass2">
                        <button type="submit" class="site-btn">Register</button>
                        <h5 class="mt-4">Already a user? <a href="{% url 'user_login' %}">Click Here</a> to log in</h5>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
